body {
    font-family: Arial, sans-serif;
    background: url('../style/wenla.jpg') no-repeat center center fixed;
    background-size: cover;
    font-style: normal;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

.login-box {
    max-width: 360px;
    margin: auto;
    background: linear-gradient(135deg, #f1ebed, #fdf2d9, #f3c4e7);
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-top: 70px;
}

h1 {
    text-align: center;
    color: #ec407a;
    font-family: 'Bangers', cursive;
    font-size: 48px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
}

input[type="text"],
input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ffb6c1;
    border-radius: 5px;
    font-style: oblique;
}

input[type="submit"] {
    width: 100%;
    background: linear-gradient(135deg, #ff9a9e, #ff6b6b);
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-style: unset;
    margin-top: 10px;
}

input[type="submit"]:hover {
    background: linear-gradient(135deg, #ff6b6b, #ff3f6c);
}

.forgot-password,
.register-here {
    text-align: center;
    color: #ec407a;
    margin-top: 10px;
    font-style: initial;
    display: block;
    text-decoration: none;
}

.forgot-password:hover,
.register-here:hover {
    color: #ff3f6c;
}

.gender {
    color: #ec407a;
    text-decoration: none;
}

.gender select {
    padding: 8px;
    border: 1px solid #ec407a;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
    font-style: oblique;
}

.register-link {
    color: #ec407a;
    text-decoration: none;
}
