body {
  margin: 0%;
  background-color: #f7d9e1; 
  position: relative;
  
}


@font-face {
  font-family: log;
  src: url(Tequilla\ Sunrise.ttf);
}

.parent {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  border-radius: 40px;
}

.eme {
  grid-area: 1 / 1 / 2 / 6;
  height: 126px;
  background: #ffc0cb; 
  border: 10px solid #fff; 
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.h1 {
  grid-area: 1 / 1 / 2 / 2;
  flex: 1;
  font-family: log;
  color: #ff69b4;
  font-size: 50px;
  margin: 20px;
  justify-self: center; 
  align-self: center; 
}


.div2 {
  grid-area: 2 / 1 / 6 / 2;
  background: #ffc0cb; 
  border: 10px solid #fff; 
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(7, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.b1 {
  grid-area: 1 / 1 / 2 / 2;
  text-align: center;
}

.b2 {
  grid-area: 2 / 1 / 3 / 2;
  text-align: center;
}

.b3 {
  grid-area: 7 / 1 / 8 / 2;
  text-align: center;
}

.div3 {
  grid-area: 2 / 2 / 6 / 6;
  background-color: rgba(255, 192, 203, 0.4); 
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.v1 {
  grid-area: 2 / 2 / 5 / 5;
  border: 3px solid #fff; 
}

.v2 {
  grid-area: 1 / 1 / 2 / 3;
  margin: 10px;
  font-family: 'Times New Roman', Times, serif;
  color: #c02e77; 
  font-size: 40px;
  text-align: center;
}

.v3 {
  grid-area: 1 / 5 / 2 / 6;
}

/* Buttons */
.bini {
  display: inline-block;
  align-items: center;
  justify-content: center;
  padding: 0.7rem 2rem;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  color: #fafaf7; 
  backface-visibility: hidden;
  border: 0.3rem solid #fffcfe; 
  border-radius: 1rem;
  width: 90px;
  background-color: #ff69b4; 
  margin-top: 20px;
  
}

.bini:hover {
  transform: perspective(1px) scale3d(1.044, 1.044, 1) translateZ(0) !important;
}

.blog {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.7rem 2rem;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  color: #ff69b4; 
  backface-visibility: hidden;
  border: 0.3rem solid #fff; 
  border-radius: 3rem;
  width: 90px;
}

.blog1 {
  transition: transform 0.2s cubic-bezier(0.235, 0, 0.05, 0.95);
}

.blog1:hover {
  border-color: #ff69b4; 
  transform: perspective(1px) scale3d(1.044, 1.044, 1) translateZ(0) !important;
}

table.pinktable {
  font-family: Georgia, serif;
  border: 6px solid #ff69b4; 
  background-color: #f7d9e1; 
  width: 100%;
  height: 100%;
  text-align: center;
}

table.pinktable td,
table.greenTable th {
  border: 1px solid #ff69b4; 
  padding: 3px 2px;
}

table.pinktable tbody td {
  font-size: 13px;
}

table.pinktable thead {
  background: #ff69b4; 
  background: -moz-linear-gradient(top, #ff7eb9 0%, #ff69b4 66%, #ff7eb9 100%);
  background: -webkit-linear-gradient(top, #ff7eb9 0%, #ff69b4 66%, #ff7eb9 100%);
  background: linear-gradient(to bottom, #ff7eb9 0%, #ff69b4 66%, #ff7eb9 100%);
  border-bottom: 0px solid #444444;
}

table.pinktable thead th {
  font-size: 19px;
  font-weight: bold;
  color: #470923; 
  text-align: left;
  border-left: 2px solid #ff69b4; 
}

table.pinktable thead th:first-child {
  border-left: none;
}

table.pinktable tfoot {
  font-size: 13px;
  font-weight: bold;
  color: #fff; 
  background: #ff69b4; 
  background: -moz-linear-gradient(top, #ff7eb9 0%, #ff69b4 66%, #ff7eb9 100%);
  background: -webkit-linear-gradient(top, #ff7eb9 0%, #ff69b4 66%, #ff7eb9 100%);
  background: linear-gradient(to bottom, #ff7eb9 0%, #ff69b4 66%, #ff7eb9 100%);
  border-top: 1px solid #ff69b4;
}

table.pinktable tfoot td {
  font-size: 13px;
}

table.pinktable tfoot .links {
  text-align: right;
}

table.pinktable tfoot .links a {
  display: inline-block;
  background: #fff; 
  color: #ff69b4; 
  padding: 2px 8px;
  border-radius: 5px;
}
